.header {
  background-color: White;
  /* height: 140px; */
  /* -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  width: 100%;
  transition:all 1s ease;
}

.accordion .header{
  margin-top: 20px;
}

.accordion .accordion-item button[aria-expanded="true"] .header{
  margin-top: 80px;
}

.header h1{
   font-size: 40px;
}

@media (min-width: 1200px) {
  .header h1{
    font-size: 50px;
  }
}

.header .heading{
  font-size: 20px;
  font-weight: 600;
  color: #414141;
  text-align: left;
  text-wrap: nowrap;
  padding-bottom: 0px;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .header .heading{
    font-size: 30px;
  }
}

@media (min-width: 862px) {
.header_wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 110px;
}
}

.profile{
 padding-left: 20px;
  width: 100%;
}

@media (min-width: 862px) {
  .profile{
    display: flex;
    align-self: start;
    width: 50%;
  }
}
.header_right-column{
  margin-left: 20px;
  margin-bottom: 20px;
  }

@media (min-width: 862px) {
.header_right-column{
margin-left: 145px;

}
}

@media (min-width: 862px) {
  .header_right-column{
    margin-left: 0;
    margin-bottom: 0;
    width: 50%;
    display: flex;
    flex-direction: row-reverse; 
  }
  
}



.site-header-btn{
    color: #fff;
    box-sizing: border-box;
    border-radius: 32px;
    overflow: hidden;
    background: #3282EB;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 14px;
    text-decoration: none;
    margin: 6px 10px;
    text-wrap:nowrap;
    min-width: 120px;
    display: block !important;
}

@media (min-width: 1200px) {
  .site-header-btn{
    padding: 10px 24px;
    font-size: 16px;
    margin: 10px 16px;
    
  }
}

.my-pic{
  width: 100px;
  border: 5px solid #c3c3c3;
  margin-right: 20px;
 
}



.my-role{
  text-align: left;
  margin-left: 5px;
  color: #7f7f7f;
  font-weight: 500;
}

.my-data{
  margin-top: 20px;
}

@media (min-width: 862px) {
.my-data{
  margin-top: 0px;
  margin-right: 40px;
}
}
.my-data div div{
  margin-top: 4px;
 text-align: left;
 display: flex

}

.my-data div div span{
  font-size: 13px;
  color: #707070;
}
.my-data div div .label{
  font-weight: 600;
  min-width: 70px;
  display: inline-block
}

/* Dropdown Button */
.dropbtn {
  color: #2c2c2c;
  cursor:context-menu; 
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-left: 1px solid #04AA6D;
  background-color: unset;
  padding: 10px 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #066d47;;
  color: white;
  z-index: 3000;
  margin-left: 16px;
  border-radius: 32px;
  text-align: left;
  margin-left: 180px;
  margin-top: -40px;
  border-top-left-radius: 0;
  padding-bottom: 20px;
  font-weight: 600;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-wrap: nowrap;
  display: block;
  z-index: 3000;
  position: relative;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { color:#04AA6D;}


.gg-chevron-right {
  color: #04AA6D;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.gg-chevron-right::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid;
  border-right: 3px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px
}

.my-name{
  display: flex;
  margin-right: 10px;

}


/* Dropdown Button */
.heading {
  color: #2c2c2c;
  cursor:context-menu; 
}

/* The container <div> - needed to position the dropdown content */
.my-name {
  position: relative;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-myname  {
  display: none;
  position: absolute;
  background-color: #066d47;
  color: white;
  z-index: 3000;
  margin-left: 16px;
  border-radius: 32px;
  text-align: left;
  margin-left: 255px;
  margin-top: 60px;
  border-top-left-radius: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

/* Links inside the dropdown */
.dropdown-content-myname  div {
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  text-wrap: nowrap;
  display: block;
  z-index: 3000;
  position: relative;
}

/* Change color of dropdown links on hover */
.dropdown-content-myname  div:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.my-name:hover .dropdown-content-myname  {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.my-name:hover heading { color:#04AA6D;}
